{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#"> Stock Hub</a>
        <ul class="navbar-nav mr-auto mt-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">HOME</a>
          </li>


          <!--  main nav  -->
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'about' %}">ABOUT</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'news' %}">NEWS</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">PORTFOLIO</a>
          </li>
          
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="#">Welcome, {{user.username}}</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">LOGOUT</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">LOGIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">REGISTER</a>
          </li>
        {% endif %}
        </ul>
        <form class="d-flex">
          <input class="form-control mr-sm-2" type="search" placeholder="Search quote by ticker" aria-label="Search">
          <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
