{% extends 'stock/base.html' %}
{% block title %} News {% endblock %}
{% block  content %}

<h1>Market News </h1>
<div class="container card-body">
    <div class="row">
        {% if context %}
        {% for x in context.data %}
        <div class="card text-white bg-dark mb-3" style="width: 12rem;">
            <a href="{{ x.news_url }}"><img href="{{ x.news_url }}" src="{{ x.image_url }}"></a>
            <div class="card-body">
                <h3 class="card-title"> {{ x.title }}
                    <p class="card-text"> {{ x.text }}</p>

                </div>
            </div>


        {% endfor %}
        {% endif %}


    </div>
   
</div>



{% endblock  %}