{% extends 'stock/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Register {% endblock %}
{% block  content %}

{% if forms.error %}
<p> There awas error eit the form</p>
{% endif %}
<div class="container py-5">
    <form method="post" action="{% url 'register' %}">
      <h1> Create an account</h1>
        {% csrf_token %}
        {{ RegisterForm|crispy }}
        <button class="btn btn-primary" type="submit">Register</button>
        <div class="form-check d-flex justify-content-center mb-5">
            <label class="form-check-label" for="form2Example3g">
              I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
            </label>
          </div>
        
    </form>
    <p class="text-center">Already have an account? <a href="{% url 'login' %}">Login Here</a></p>

</div>

{% endblock  %}